## Contents

- [🎨 What is GPT‑4o](#gpt4o-toc)
- [📖 Example Directory](#example-toc)
- [🛠️ Tools Introduction](#tools-toc)
- [💡 Prompting Tips](#prompting-toc)
- [🤝 How to Contribute](#contribute-toc)
- [🙏 Acknowledgements](#acknowledgements-toc)
- [🌟 Star History](#starhistory-toc)
